<div id="form_wrapper" class="form_wrapper">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  	<%= devise_error_messages! %>
		<h3 style="font-family: georgia;">Sign up</h3>
  	<div>
			<%= f.label :email %>
  		<%= f.email_field :email %>
		</div>
  	<div>
			<%= f.label :password %>
  		<%= f.password_field :password %>
		</div>
  	<div>
			<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation %>
		</div>
		<div class="bottom">
  		<%= f.submit "Sign up" %>
			<%= link_to "You have an account already? Sign in here", new_user_session_path(), :class => "linkform" %>
			<%= link_to "Forgot your password?", new_user_password_path(), :class => "linkform", :rel => "forgot_password" %>
		</div>
	<% end %>
</div>
