<h1>Artists</h1>

<% @artists.each do |artist| %>
<div style="float: left; margin-right: 40px">
<br /><br />
    <h2 style="font-size: 16px; margin-bottom: 5px"><%= link_to artist.name, artist %></h2>
    <p><%#= artist.biography %></p>
	<% if artist.artworks.count != 0 %>
		<%= image_tag  artist.artworks.first.image_url, :style => "max-width: 200px; padding: 8px; background: #fff; margin-top: 10px" %>
	<% end %>
		<!-- <td><%= artist.artwork_count %></td> -->
		<br />
  <!--  <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td> -->
 	<br />
</div>
<% end %>


<br /><br /><br />
<div style="clear: both;"></div><br />
<%= link_to 'Add artist', new_artist_path, :class => "button grey", :style => "clear: both;" %>
