<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @artist.artist_id %>
</p>

<p>
  <b>User:</b>
  <%= @artist.user_id %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
