<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @artist.id %>
</p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Artwork Count:</b>
  <%= @artist.artwork_count %>
</p>

<%= render :partial => 'artworks/thumbnails' %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
