<div class="animation_box">
	<a class="leftControl control" href="#">Left</a>
	<div class="slide_box">
		<div class="slideInner">
			<div class="slide">
				<% if @artworks.first %>
					<%= image_tag @artworks.first.image_url, :class => "" %>
				<% end %>
			</div>
			<div class="slide">
				<img src="#" />
			</div>
			<div class="slide">
				<img src="#" />
			</div>
			<div class="slide">
				<img src="#" />
			</div>
		</div>
	</div><!-- slide_box end -->
	<a class="rightControl control" href="#">Right</a>  		
</div><!-- animation_box end -->
<div class="description">
	<div class="name">
		<h2>Frogs Rule</h2>
		<span>by <a class="author" href="#">Joakim Runeberg</a></span>
	</div>
	<div class="price">
		<span>own it for <a href="#">450<b>€</b></a></span>
	</div>
</div>
</div>
<div id="greeting">
<p>
<em>Hello,</em>
we are a virtual gallery aiming to help you find and collect art that you really love.<span class="heart">♥</span>
</p>
</div>
<div id="images">
<div class="filter">
	<ul>
		<li><a href="#" class="active">Latest</a>  / </li>
		<li><a href="#">Popular</a>  / </li>
		<li><a href="#">Most Commented</a></li>
	</ul>
</div>
<div class="search">
	<input type="text" name="search" value="search.." id="search">
</div>
<ul class="thumbnails">
	<% @artworks.each do |artwork| %>
	<li><a href="#"><%= image_tag artwork.image_url, :class => "" %></a>
		<div class="title"><%= artwork.name %></div>
	</li>
	<% end %>
</ul>
</div>

<h1>Listing artworks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Height</th>
    <th>Width</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artworks.each do |artwork| %>
  <tr>
    <td><%= artwork.name %></td>
    <td><%= artwork.description %></td>
    <td><%= artwork.height %></td>
    <td><%= artwork.width %></td>
    <td><%= image_tag artwork.image_url, :class => "thumb" %></td>
    <td><%= link_to 'Show', artwork %></td>
    <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
    <td><%= link_to 'Destroy', artwork, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artwork', new_artwork_path %>


<div id="footer">
	<h1>#footer</h1>
</div>

