<div id="form_wrapper" class="form_wrapper">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<h3 style="font-family: georgia;">Sign in</h3>
		<div>
	  	<%= f.label :email %>
	  	<%= f.email_field :email %>
		</div>
		<div>
	  	<label>
				Password
				<%= link_to "Forgot your password?", new_user_password_path(), :class => "forgot linkform", :rel => "forgot_password" %>
	  	</label>
			<%= f.password_field :password %>
		</div>
		<div class="bottom">
	    <div class="remember">
				<%= f.check_box :remember_me %> 
				<span>Remember me</span>
			</div>
	  	<%= f.submit "Sign in" %>
			<%= link_to "New to Sandbox Contemporary? Register here", new_user_registration_path(), :class => "linkform" %>
			<div class="clear"></div>
		</div>
	<% end %>
</div>