= label_tag "#{field.abstract_model.to_param}_#{field.name}", field.label
.input
  - if field.bindings[:object].send("#{field.name}_url")
    .row
      = link_to field.bindings[:object].send("#{field.name}_url")
      %br
      = form.check_box "remove_#{field.name}"
      = form.label "remove_#{field.name}", "Remove existing #{field.label.downcase}", :class => "inline"
  .row
    = form.file_field field.name, :class => "fileUploadField #{field.has_errors? ? "errorField" : nil}"
    = form.hidden_field "#{field.name}_cache"

<%= label_tag "#{field.abstract_model.to_param}_#{field.name}", field.label %>
<div class="input">
	<% if field.bindings[:object].send("#{field.name}_url") %>
	<div class="row">
		<%= link_to field.bindings[:object].send("#{field.name}_url") %>
		<br /><br />
		<%= form.check_box "remove_#{field.name}" %>
		<%= form.label "remove_#{field.name}", "Remove existing #{field.label.downcase}", :class => "inline" %>
	</div>
	<% end %>
	<div class="row">
		<%= form.file_field field.name, :class => "fileUploadField #{field.has_errors? ? "errorField" : nil}" %>
		<%= form.hidden_field "#{field.name}_cache" %>
	</div>
</div>