<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Sandbox Contemporary" %></title>
    <%= stylesheet_link_tag "compiled/resets", "compiled/application", :media => "screen, projection" %>
    <%= javascript_include_tag "compiled/jquery.min.js", "compiled/rails.min.js", "application.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  	<div id="top-bar">
  		<div id="status">
  			<% if user_signed_in? %>
    			<span>Currently logged in as <a class="user" href="#"><%= current_user.email %></a>. <%= link_to "Logout", destroy_user_session_path, :class => "logout" %>?</span>
    		<% else %>
    			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
    		<% end %>
    	</div>
  	</div>	
    <div id="container">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      
      <div id="logo"><h1>Sandbox Contemporary</h1></div>
      <nav>
      	<ul>
      		<li><%= link_to "Home", home_path, :class => "active" %></li>
      		<li><%= link_to "About", about_path %></li>
      		<li><a href="#">Collectors</a></li>
      		<li><a href="#">Other</a></li>
      	</ul>
      </nav>
      
      
      <%= content_tag :h1, yield(:title) if show_title? %>
      <div id="content">
      	<%= yield %>
      	<div class="animation_box">
      		<a class="leftControl control" href="#">Left</a>
      		<div class="slide_box">
      			<div class="slideInner">
      				<div class="slide">
      					<img src="/images/slide1.png" />
      				</div>
      				<div class="slide">
      					<img src="#" />
      				</div>
      				<div class="slide">
      					<img src="#" />
      				</div>
      				<div class="slide">
      					<img src="#" />
      				</div>
      			</div>
      		</div><!-- slide_box end -->
      		<a class="rightControl control" href="#">Right</a>  		
      	</div><!-- animation_box end -->
      	<div class="description">
      		<div class="name">
      			<h2>Frogs Rule</h2>
      			<span>by <a class="author" href="#">Joakim Runeberg</a></span>
      		</div>
      		<div class="price">
      			<span>own it for <a href="#">450<b>€</b></a></span>
      		</div>
      	</div>
      </div>
      <div id="greeting">
      	<p>
      	<em>Hello,</em>
      	we are a virtual gallery aiming to help you find and collect art that you really love.<span class="heart">♥</span>
      	</p>
      </div>
      <div id="images">
      	<ul>
      		<li><a href="#"><img src="" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      	</ul>
      </div>
      
      
	    <div id="footer">
	    	<h1>#footer</h1>
  	  </div>
    
    </div>
  
  </body>
</html>
