<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Sandbox Contemporary" %></title>
    <%= stylesheet_link_tag "compiled/resets", :media => "screen" %>
    <%= stylesheet_link_tag "compiled/application" %>
    <%= javascript_include_tag "compiled/jquery.min.js", "compiled/rails.min.js", "application.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  	<div id="top-bar">
  		<div id="status">
  			<% if user_signed_in? %>
    			<span>Currently logged in as <a class="user" href="#"><%= current_user.email %></a>. <%= link_to "Logout", destroy_user_session_path, :class => "logout" %>?</span>
    		<% else %>
    		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> or
    			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
    		<% end %>
    	</div>
  	</div>	
    <div id="container">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      
      <div id="logo"><a href="/"><h1>Sandbox Contemporary</h1></a></div>
      <nav>
      	<ul>
      		<li><%= link_to "Home", home_path, :class => "active" %></li>
      		<li><%= link_to "About", about_path %></li>
      		<li><a href="#">Collectors</a></li>
      		<li><a href="#">Other</a></li>
      	</ul>
      </nav>
      
      
      <%= content_tag :h1, yield(:title) if show_title? %>
      <div id="content">
      	<%= yield %>
      </div>	
    
    </div>
  
  </body>
</html>
