<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Sandbox Contemporary" %></title>
    <%= stylesheet_link_tag "compiled/resets", :media => "screen" %>
    <%= stylesheet_link_tag "screen.css" %>
    <%= javascript_include_tag "compiled/jquery.min.js", "compiled/rails.min.js", "application.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<!--
  	<div id="top-bar">
  		<div id="status">
  			<% if user_signed_in? %>
    			<span>Currently logged in as <a class="user" href=""><%= current_user.email %></a>. <%= link_to "Logout", destroy_user_session_path, :class => "logout" %>?</span>
    		<% else %>
    		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> or
    			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
    		<% end %>
    	</div>
  	</div>
	<div id="shadow">
	</div>
	-->
    <div id="container">


   
   		<%= render :partial => '/artworks/navigation' %>

   	    <% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <% end %>
	    <%= content_tag :h1, yield(:title) if show_title? %>
	    <div id="content">
	    	<%= yield %>
	    </div>	

    </div>

	<!-- Google Analytics -->
  	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22655023-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
