<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Sandbox Contemporary" %></title>
    <%= stylesheet_link_tag "compiled/resets", "compiled/application" %>
    <%= javascript_include_tag "compiled/jquery.min.js", "compiled/rails.min.js", "application.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  	<div id="top-bar">
  		<div id="status">
  			<% if user_signed_in? %>
    			<span>Currently logged in as <a class="user" href="#"><%= current_user.email %></a>. <%= link_to "Logout", destroy_user_session_path %>?</span>
    		<% else %>
    			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    		<% end %>
    	</div>
  	</div>	
    <div id="container">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      
      <div id="logo"><h1>Sandbox Contemporary</h1></div>
      <nav>
      	<ul>
      		<li><a class="active" href="#">Home</a></li>
      		<li><a href="#">About</a></li>
      		<li><a href="#">Collectors</a></li>
      		<li><a href="#">Other</a></li>
      	</ul>
      </nav>
      
      
      <%= content_tag :h1, yield(:title) if show_title? %>
      <div id="content">
      	<%= yield %>
      	<div class="animation_box">
      		<div class="slide_box">
      			<div class="slideInner">
      				<div class="slide">
      					<img src="/images/slide1.png" />
      				</div>
      				<div class="slide">
      					<img src="#" />
      				</div>
      				<div class="slide">
      					<img src="#" />
      				</div>
      				<div class="slide">
      					<img src="#" />
      				</div>
      			</div>
      		</div>
      		
      	</div>
      </div>
      <div id="images">
      	<ul>
      		<li><a href="#"><img src="" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      		<li><a href="#"><img src="#" alt="image" /></a></li>
      	</ul>
      </div>
      
      
	    <div id="footer">
	    	<h1>#footer</h1>
  	  </div>
    
    </div>
  
  </body>
</html>
